/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Mono One', sans-serif;
}


/* Palette color */
:root{
    --black: #1A1A1A;
    --white: #FFFFFF;
    --yellow: #FFFF00;
    --red: #FF0000;
    --green:  #008000;
}

/* Generics */
html {
    scroll-behavior: smooth;
    overflow: hidden;
}


/* Utilities */
.container{
    width: 600px;
    margin: 0 auto;
}

.d-flex{display: flex;}

.w-100 {width: 100%;}

.vh-100 {height: 100vh;}


/* Main */
section .product {
    text-align: center;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#red-shoes, #green-shoes, #yellow-shoes {position: relative;}

#red-shoes {
    background-color: var(--red);
    color: var(--yellow);
}

#green-shoes {
    background-color: var(--green);
    color: var(--yellow);
}

#yellow-shoes {
    background-color: var(--yellow);
    color: var(--green);
}